@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Orbitron:wght@400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* GENERAL */
body {
    font-family: 'Orbitron', sans-serif;
    background-color: black;
}
.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.titulo {
    color: red;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* HEADER */

.navbar {
    background-color: red;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
}

.navbar .logo {
    width: 50px;
    height: 50px;
    grid-column: 2 / 3;
}

.navbar .menu {
    grid-column: 3 / 7;
    display: flex;
    justify-content: space-around;
}

.navbar .menu li {
    list-style: none;
}

.navbar .menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: all 0.5s ease;
}

.navbar .menu a:hover {
    padding: 5px 10px;
    background: white;
    color: red;
    border-radius: 15px;
}

header .textos-header {
    display: flex;
    height: 300px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: none;
}
.textos-header h1 {
    font-size: 50px;
    color: red;
}

/* CONOCENOS */

.contenedor-sobre-nosotros {

    display: flex;
    justify-content: space-evenly;
}
.imagen-sobre-nosotros {
    width: 48%;
    border-radius: 10%;
}
.sobre_nosotros .contenido-textos {
    width: 48%;
}
.contenido-textos h3 {
    color: rgb(190, 0, 0);
    padding: 0px 0px 10px 15px;
    margin-bottom: 5px;
}
.contenido-textos p {
    color: white;
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* FECHAS */

.galeria-fech {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.foto-fech {
    width: 30%;
    margin-bottom: 30px;
    height: 290px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    border-radius: 5%;
}
.foto-fech > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.hover-fotos {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(0, 91%, 27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover-fotos img{
    width: 50px;
}
.hover-fotos p{
    color: white;
}
.foto-fech:hover .hover-fotos{
transform: scale(1); 
}

/* ARTISTAS */

.cards {
    display: flex;
    justify-content: space-evenly;
}
.cards .card {
    background: #ff0000;
    margin: 10px;
    display: flex;
    width: 46%;
    height: 150px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.5);
}
.cards .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 10%;
    display: block;
}
.cards .card > .contenido-texto-card {
    width: 60%;
    color: white;
}
.cards .card > .contenido-texto-card p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    padding-top: 5px;
}

/* MUSICA */

.musica-cont {
    padding-bottom: 10px;
}
.musica-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.musica-ind {
    width: 45%;
    text-align: center;
}
.musica-ind h3 {
    margin: 10px 0;
    color: white;
}
.musica-ind p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: 300;
    text-align: justify;
}

/* CONTACTO */

footer{
    background: #ff0000;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
}
.content-foo {
    text-align: center;
}
.content-foo h4 {
    color: white;
    margin: 5px;
}
.content-foo p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-with:900px){

    .navbar .logo {
        width: 50px;
        height: 50px;
        grid-column: 1 / 3;
    }
    .contenedor-sobre-nosotros {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sobre-nosotros .contenido-textos {
        width: 90%;
    }
    .imagen-sobre-nosotros {
        width: 90%;
    }

    /* FECHAS */

    .foto-fech {
        width: 44%;
    }

    /* ARTISTAS */

    .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cards .card {
        width: 90%;
    }
    .cards .card:first-child {
        margin-bottom: 30px;
    }
    
    /* MUSICA */

    .musica-cont {
        justify-content: center;
        flex-direction: column;
    }
    .musica-ind {
        width: 100%;
        text-align: center;
    }
    .musica-ind:nth-child(1), .servicio-ind:nth-child(2) {
        margin-bottom: 60px;
    }
    .musica-ind iframe {
        width: 90%;
    }
}

@media screen and (max-with:500px){
    nav {
        text-align: center;
        padding: 30px 0 0 0;
    }
    nav > a {
        margin-right: 5px;
    }
    .textos-header h1 {
        font-size: 35px;
    }

    /* CONOCENOS */

    .imagen-sobre-nosotros {
        margin-bottom: 60px;
        width: 99%;
    }
    .sobre-nosotros .contenido-textos {
        width: 95%;
    }

    /* FECHAS */

    .foto-fech {
        width: 95%;
    }
    
    /* ARTISTAS */

    .cards .card {
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cards .card img{
        width: 90px;
        height: 90px;
    }
    .contenedor-footer {
        flex-direction: column;
    }
}