@import"./layout/nav";
@import"./layout/footer";
@import"./pages/estructura";

.textos-header{
    display: flex;
    height: 250px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: none;
    h1{
        font-family: 'faster one', cursive;
        font-size: 50px;
        color: red;
    }
}
.contenedor-sobre-nosotros {
    display: flex;
    height: 250px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: none;
    .imagen-sobre-nosotros {
        width: 30%;
        height: 30%;
    }
    .contenido-textos {
        width: 48%;
        p{
            font-family:'Courier New', Courier, monospace;
            color: white;
            padding: 0px 0px 30px 15px;
            font-weight: 300;
            text-align: justify;
        }
    }          
}

