@import"./layout/nav";
@import"./layout/footer";
@import"./pages/estructura";

.textos-header{
    display: flex;
    height: 300px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: none;
    h2{
        font-family: 'Monument Extended', sans-serif;
        font-size: 50px;
        color: white;
    }
}
.contenedor-sobre-nosotros {
    display: flex;
    height: 250px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: none;
    .imagen-sobre-nosotros {
        height: 80%;
    }
    .contenido-textos {
        width: 48%;
        p{
            font-family: 'Monument Extended', sans-serif;
            color: white;
            padding: 0px 0px 30px 15px;
            font-weight: 300;
            text-align: justify;
        }
    }          
}
@media(max-width: 480px) {
    .imagen-sobre-nosotros{
        width: 50%;
    }
}
