@import"./layout/nav";
@import"./layout/footer";
@import"./pages/estructura";

form{
    width: 450px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    p{
        color: white;
        margin-bottom: 20px;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
    }
    input, textarea{
        width: 100%;
        margin-bottom: 20px;
        padding: 5px;
        box-sizing: border-box;
        border: none;
        border-radius: 5px;   
    }
    textarea{
        min-height: 100px;
        max-height: 200px;
        max-width: 100%;
    }
    .boton{
        background: red;
        width: 20%;
        margin-left: 40%;
        font-family: 'Courier New', Courier, monospace;
        color: white;
        border-radius: 20px;
        cursor: pointer;
    }
}
@media(max-width: 480px) {
    form{
        width: 100%;
    }
}

