@import"./layout/nav";
@import"./layout/footer";
@import"./pages/estructura";

.galeria-fech{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 10%;
    .foto-fech{
        width: 30%;
        margin-bottom: 30px;
        position: relative;
        img{
            width: 100%;
            object-fit: cover;
            display: block;
        }
        .hover-fotos{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            transform: scale(1);
            background: hsla(0, 91%, 27%, 0.7);
            transition: transform .5s;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            img{
                width: 25%;
                height: 20%;
            }
        }
    }
}
.foto-fech:hover .hover-fotos{
    transform: scale(0); 
}
.foto-fech:hover img{
    transform: scale(1.6);
}
@media(max-width: 480px){
    .foto-fech:hover img{
        transform: scale(2);
    }
}