footer{
    background: #ff0000;
    padding: 60px 0 30px 0;
    margin-bottom: 0;
    overflow: hidden;
    .contenedor-footer{
        display: flex;
        width: 90%;
        justify-content: space-evenly;
        margin: auto;
        padding-bottom: 50px;
        .content-foo{
            text-align: center;
            .imagen-footer{
                width: 10%;
            }
            p{
                font-family: 'Monument Extended', sans-serif;
                margin: 5px;
                color: white;
            }
        }
    }
}
@media(max-width: 480px) {
    footer{
        width: 100%;
    }
}
